//-
	Join form.
	
mixin form-signin()
	.auth
		form(method='post', action='/signin', autocomplete='off', novalidate)
			input(type='hidden', name='action', value='signin')
			.form-groups
				//- TODO: Also allow to enter screen name.
				.form-group
					label(for='email_name') Email
					input(type='text', 
						  name='email', 
						  placeholder='email',
						  value=(form ? form.email : null))
				.form-group
					label(for='password') Password
					input(type='password', 
						  name='password', 
						  placeholder='Password')
				button(type='submit') Sign in